.card-img-overlay {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}


.nytmn_divider{
  display: inline-block;
  width: 65px;
  height: 2px;
  background: $white;
  opacity: 0.7;
  margin: 20px auto;
}
.mainTitle1{

    color: $navbar-dark-color!important;

}


.card:hover .card-img-top{
  opacity: 0.3;
}

.mainContent{
  color: $black;
  opacity: 0.8;
  padding-right: 0px;

}
@font-face {
  font-family: cheltenham;
  src: local('Cheltenham'),
          url('../fonts/cheltenham-cond-normal-300.ttf');
}
@font-face {
  font-family: 'Conv_franklin-cword-normal-500';
  src: url('../fonts/franklin-cword-normal-500.eot');
  src: local('☺'), url('../fonts/franklin-cword-normal-500.woff') format('woff'), url('../fonts/franklin-cword-normal-500.ttf') format('truetype'), url('../fonts/franklin-cword-normal-500.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



