.card-img-overlay {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}

html{
  position: relative;
  min-height: 100%;
}

body{
  width: 100%;
  /*
  padding-top: 60px;
  */
  margin-bottom:  60px;
}
.footer {
 // position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: $gray-500 ;
  color: $black;
}

.card:hover .card-img-top{
  opacity: 0.3;
}

@font-face {
  font-family: cheltenham;
  src: url('../fonts/cheltenham-cond-normal-300.ttf');
}
@font-face {
  font-family: franklin;
  src: url('../fonts/franklin-cword-normal-500.ttf');
}
$font-family-base:franklin;


