.hover-image {
  //border: 5px solid red;
  overflow: hidden;


  &:hover .icon-expand {
      opacity: 1;
      content: "";
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;


  }

  &:hover .scaleImage{
    max-width: 100%;


    transform: scale(1.1) translate3d(0,0,0);
    -webkit-webkit-transform: scale(1.1) translate3d(0px, 0px, 0px);
    -moz-webkit-transform: scale(1.1) translate3d(0px, 0px, 0px);
    -ms-webkit-transform: scale(1.1)  translate3d(0px, 0px, 0px);
    -o-webkit-transform: scale(1.1) translate3d(0px, 0px, 0px);
    -khtml-webkit-transform: scale(1.1) translate3d(0px, 0px, 0px);
    webkit-transform: scale(1.1) translate3d(0px, 0px, 0px);
  }
  }

.scaleImage {
 // z-index: 0;
  transition: all 1s ease-in-out;
}
.icon-expand {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2248px%22%20height=%2248px%22%20viewBox=%220%200%2024%2024%22%20enable-background=%22new%200%200%2024%2024%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22white%22%20d=%22M21.938,2.519c-0.086-0.205-0.252-0.369-0.457-0.455C21.377,2.021,21.27,2,21.163,2h-6.726c-0.465,0-0.84,0.375-0.84,0.841c0,0.462,0.375,0.839,0.84,0.839h4.531l-5.688,5.679c-0.329,0.329-0.272,0.974,0.057,1.302c0.326,0.325,0.959,0.507,1.287,0.183l5.693-5.812v4.53c0,0.463,0.379,0.841,0.845,0.841c0.46,0,0.837-0.378,0.837-0.841v-6.72l0,0C22,2.729,21.98,2.622,21.938,2.519z%20M2.84,13.598c-0.463,0-0.84,0.377-0.84,0.842v6.722c0,0,0,0,0,0.003c0,0.107,0.021,0.218,0.062,0.316s0.102,0.187,0.176,0.265c0.004,0.003,0.004,0.008,0.006,0.011c0.003,0,0.006,0,0.008,0.004c0.075,0.075,0.166,0.137,0.266,0.178C2.621,21.979,2.73,22,2.84,22h6.723c0.465,0,0.84-0.377,0.84-0.84c0-0.467-0.375-0.842-0.84-0.842h-4.5l5.656-5.693c0.328-0.324,0.269-0.958-0.059-1.287c-0.327-0.328-0.957-0.385-1.285-0.057L3.68,19v-4.561C3.68,13.975,3.304,13.598,2.84,13.598z%22/%3E%3C/svg%3E);
  background-color: rgba(48, 48, 48, 0.5);
}

.card-columns {
  @include media-breakpoint-up(sm) {
    .card {
      display: inline-flex;
    }
  }
}

.arrow-up.icon {
  color: #000;
  position: absolute;
  margin-left: 50%;
  margin-top: 33%;
  width: 1px;
  height: 16px;
  background-color: currentColor;
}

.arrow-up.icon:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

