body, html{
  height: 100%;
}
.paral{

  background-attachment: fixed;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;


  p{
    background-color: #ffffff;
    opacity: 0.6;
   // filter:alpha(opacity=60);
  }
}


.paralsec1 {
background-image: url("../i/mainSlider1.jpg");
  height: 105%;
border-radius: 0;

}


/*animation: flickerAnimation 20s infinite;
transition-timing-function: ease-in-out;*/
@keyframes flickerAnimation { /* flame pulses */
  0% {
    background-image: url('../i/mainSlider1.jpg');
  }
  30% {
    background-image: url('../i/mainSlider2.jpg');
  }
  70% {
    background-image: url('../i/mainSlider3.jpg');
  }
}

.paralsec2{
  background-image: url("../i/mainSlider2.jpg");
  height: 100%;
}

.paralsec3{
  background-image: url("../i/mainSlider3.jpg");
  height: 100%;

}

/*Other*/
.paralsec4{
  background-image: url("../i/4.jpg");
  height: 100%;
}
.paralsec5{
  background-image: url("../i/5.jpg");
 height: 100%;
}
.jumbotron{
  margin-bottom: 0;
}

