body, html{
  height: 100%;
 // overflow: auto;
}
.paral{

  background-attachment: fixed;





  p{
    background-color: #ffffff;
    opacity: 0.6;
   // filter:alpha(opacity=60);
  }
}
.paral2{

  background-attachment: scroll;
  background-size: auto 100%;
  background-position: center bottom;
  background-repeat: no-repeat;


  p{
    background-color: #ffffff;
    opacity: 0.6;
    // filter:alpha(opacity=60);
  }
}


.paralsec1 {
background-image: url("../i/mainSlider1.jpg");  height: 105%;
border-radius: 0;
width: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.flickerAnimation {
  animation: flickerAnimation 20s infinite;
  transition-timing-function: ease;
}
@keyframes flickerAnimation { /* flame pulses */
  0% {
    background-image: url('../i/mainSlider1.jpg');
  }
  50% {
    background-image: url('../i/mainSlider2.jpg');
  }
  100% {
    background-image: url('../i/mainSlider3.jpg');
  }
}

.paralsec2{
  background-image: url("../i/1.gif");
  height: 100%;
  width: 100%;
}

.paralsec3{
  background-image: url("../i/mainSlider3.jpg");
  height: 100%;

}

/*Other*/
.paralsec4{
  background-image: url("../i/4.jpg");
  height: 100%;
}
.paralsec5{
  background-image: url("../i/5.jpg");
 height: 100%;
}
.jumbotron{
  margin-bottom: 0;
}


.slide {
  background-attachment: fixed;
  width:100%;
  height:90%;
  position: relative;

}

.slideno {
  position:absolute;
  bottom:0px;
  left:0px;
  font-size:100px;
  font-weight:bold;
  color:rgba(255,255,255,0.3);
}









